#[submodule "game/libs/emsdk"]
#	path = game/libs/emsdk
#	url = https://github.com/emscripten-core/emsdk.git

#[submodule "game/libs/SDL"]
#	path = game/libs/SDL
#  url = https://github.com/libsdl-org/SDL.git
[submodule "game/libs/SDL_ttf"]
	path = game/libs/SDL_ttf
  url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "game/libs/SDL_image"]
	path = game/libs/SDL_image
  url = https://github.com/libsdl-org/SDL_image.git
[submodule "game/libs/SDL"]
	path = game/libs/SDL
	url = https://github.com/libsdl-org/SDL.git
